<h1 style = "color:Green">Flipkart Web-Scraping Tutorial

In [1]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import pandas as pd
import smtplib

<h2 style = "color:Red"> URL and Header of the HTTP request

In [9]:
URL = 'https://www.flipkart.com/apple-iphone-13-midnight-128-gb/p/itmca361aab1c5b0?pid=MOBG6VF5Q82T3XRS&lid=LSTMOBG6VF5Q82T3XRSOXJLM9&marketplace=FLIPKART&q=iphone&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=f7ced50d-a0ef-4ae5-b2f9-6f06197ecd44.MOBG6VF5Q82T3XRS.SEARCH&ppt=pp&ppn=pp&ssid=d6wlm1zsu80000001688986113062&qH=0b3f45b266a97d70'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

<h2 style = "color:Red"> Check the connection

In [10]:
page

<h2 style = "color:Red"> Get the details.

In [12]:
soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find("span", attrs={"class":'B_NuCI'}).text.strip()
price = soup2.find("div", attrs={"class":'_30jeq3 _16Jk6d'}).text.strip()[1:]

print(type(price))

print(title)
print(price)

<class 'str'>
APPLE iPhone 13 (Midnight, 128 GB)
60,999

<h2 style = "color:Red"> Save into the csv file

In [37]:
import csv

header = ['Title', 'Price']
data = [title, price]


with open("FlipkartWebScrapingDataSet.csv", "w", newline ="", encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [46]:

today = datetime.date.today()

print(today)

2023-07-10

<h2 style = "color:Red"> Insert the one more header as a "Date"

In [47]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, price, today]


with open("FlipkartWebScrapingDataSet.csv", "w", newline ="", encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [48]:
df = pd.read_csv(r"C:\Users\shaik\FlipkartWebScrapingDataSet.csv")
df

                                Title   Price        Date
0  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10


<h2 style = "color:Red">Appending the data into the csv file.

In [49]:
with open("FlipkartWebScrapingDataSet.csv", "a+", newline ="", encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [50]:

df = pd.read_csv(r"C:\Users\shaik\FlipkartWebScrapingDataSet.csv")
df

                                Title   Price        Date
0  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10
1  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10

<h2 style = "color:Red"> Create the final app

In [8]:
def check_price():
    URL = 'https://www.flipkart.com/apple-iphone-13-midnight-128-gb/p/itmca361aab1c5b0?pid=MOBG6VF5Q82T3XRS&lid=LSTMOBG6VF5Q82T3XRSOXJLM9&marketplace=FLIPKART&q=iphone&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=f7ced50d-a0ef-4ae5-b2f9-6f06197ecd44.MOBG6VF5Q82T3XRS.SEARCH&ppt=pp&ppn=pp&ssid=d6wlm1zsu80000001688986113062&qH=0b3f45b266a97d70'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)
    
    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find("span", attrs={"class":'B_NuCI'}).text.strip()
    price = soup2.find("div", attrs={"class":'_30jeq3 _16Jk6d'}).text.strip()[1:]
    
    today = datetime.date.today()
    
    import csv

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]


    with open("FlipkartWebScrapingDataSet.csv", "a+", newline ="", encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

<h2 style = "color:Red"> After the 5 second new data will insert with

In [11]:
while(True):
    check_price()
    time.sleep(5)

KeyboardInterrupt:

<h2 style = "color:Red"> Updated data will insert every day into the csv file.

In [12]:

df = pd.read_csv(r"C:\Users\shaik\FlipkartWebScrapingDataSet.csv")
df

                                Title   Price        Date
0  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10
1  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10
2  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10
3  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10
4  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10
5  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10
6  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10
7  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10
8  APPLE iPhone 13 (Midnight, 128 GB)  60,999  2023-07-10

In [ ]:
while(True):
    check_price()
    time.sleep(86400)